<%= form_for request do |form| %>
  <div class="input-group mb-2p">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
    <%= form.text_field :origin, :class => "form-control", :placeholder => "Origin" %>
  </div>
  <p class="error-message"> <%= request.errors.full_messages_for(:origin)[0] %> </p>
  <br>
  <div class="input-group mb-2p">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
    <%= form.text_field :destination, :class => "form-control", :placeholder => "Destination"%>
  </div>
  <p class="error-message"> <%= request.errors.full_messages_for(:destination)[0] %> </p>

  <hr>
  <%= form.label 'Take off time' %>
  <div class="form-group">
    <%= form.datetime_select :take_off, :class => "form-control" %>
  </div>
  <hr>
  <div class="text-center">
    <%= form.submit %>
  </div>
<% end %>
