<div class="new-request-wrapper">
  <h1 class="text-center requests-table-header">My Offers</h1>
  <hr>
  <div class="table-div">
    <% if (!@offer_exists && !@request_exists) %>
      <%= link_to new_offer_path, :class => "btn btn-red"  do %>
        <i class="fa fa-plus"></i> New Offer
      <% end %>
    <% end %>
    <br><br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Origin</th>
          <th>Destination</th>
          <th>Status</th>
          <th>Details</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% if @offers.length === 0 %>
          <h6 class="no-booked-ride text-center">
            You have no created offers at the moment
          </h6>
        <% else %>
          <% @offers.each do |offer| %>
            <tr>
              <td><%= offer.origin %></td>
              <td><%= offer.destination %></td>
              <td><%= offer.status %></td>
              <td>
                <%= link_to offer, class: "btn btn-success" do %>
                  <i class="fa fa-info"></i>
                <% end %>
              </td>

              <td>
                <% if @editable_record %>
                  <%= link_to edit_offer_path(offer), :class => "btn btn-primary"  do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                <% else %>
                  <i class="fa fa-ban fa-2x not-executable-message"></i>
                <% end %>
              </td>

              <td>
                <% if @editable_record %>
                  <%= link_to offer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                <% else %>
                  <i class="fa fa-ban fa-2x not-executable-message"></i>
                <% end %>
              </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="back-link float-left">
      <%= link_to 'View available rides', offers_all_path, :class => "text-center" %>
    </div>
  </div>
</div>
