<div class="new-request-wrapper">
  <h1 class="text-center requests-table-header">Ride Details</h1>
  <hr>
  <div class="request-details-wrapper">
    <h2 class="details-sub-header">
      Ride
    </h2>
    <hr>

    <div class="row details-key-value-wrapper">
      <div class="col"> <strong>Origin:</strong> </div>
      <div class="col-4"></div>
      <div class="col"> <%= @ride_details.origin %> </div>
    </div>

    <div class="row details-key-value-wrapper">
      <div class="col"> <strong>Destination:</strong> </div>
      <div class="col-4"></div>
      <div class="col"> <%= @ride_details.destination %> </div>
    </div>

    <div class="row details-key-value-wrapper">
      <div class="col"> <strong>Take off:</strong> </div>
      <div class="col-4"></div>
      <div class="col"> <%= @ride_details.take_off.strftime("at %I:%M%p, %e %B, %Y") %> </div>
    </div>

    <div class="row details-key-value-wrapper">
      <div class="col"> <strong>Status:</strong> </div>
      <div class="col-4"></div>
      <div class="col"> <%= @ride_details.status %> </div>
    </div>

    <div class="row details-key-value-wrapper">
      <div class="col"> <strong>Maximum intake:</strong> </div>
      <div class="col-4"></div>
      <div class="col"> <%= @ride_details.maximum_intake %> </div>
    </div>

    <div class="row details-key-value-wrapper">
      <div class="col"> <strong>No of Passengers :</strong> </div>
      <div class="col-4"></div>
      <div class="col"> <%= @passengers_no %> </div>
    </div>

    <hr>
    <h2 class="details-sub-header">
      Rider
    </h2>
    <hr>

    <div class="text-center">
      <p class="requester-profile-name"> <%= @user.first_name %> <%= @user.last_name %> </p>
      <img src="<%= @user.image %>" alt="" class="requester-profile-image">
    </div>

    <div class="row details-key-value-wrapper">
      <div class="col"> <strong>Email:</strong> </div>
      <div class="col-4"></div>
      <div class="col"> <%= @user.email %> </div>
    </div>

    <div class="row details-key-value-wrapper">
      <div class="col"> <strong>Phone:</strong> </div>
      <div class="col-4"></div>
      <div class="col"> <%= @user.phone_number %> </div>
    </div>

    <hr>
    <%= link_to 'Back', offers_ride_matches_path, :class => "btn btn-def" %>
    <div class="float-right">
      <%= link_to 'Join ride',  join_ride_path, :method => :put, :class => "btn btn-primary" %>
    </div>
  </div>
</div>
